.terms-container {
    justify-content: center;
    margin-top: 50px;
    margin-left: 50px;
    margin-right: 50px;
}

.eligibility{
    display: flex;
    justify-content: center;

}
.test {
    padding-left: 40px;
    margin-left: 40px;
}

.Collapsible p {
    font-size: 11px;
}

.Collapsible {
    background-color:white;
    color: blue;
    border-top: black solid 1px;
    border-bottom: black solid 1px;
    width: 100%;

}

/* TEXT INSIDE HEADER */
.Collapsible__trigger {
    color: black;
    font-family: Roboto;
font-style: normal;
font-weight: 500;
line-height: 100%;
display: flex;
padding-top: 20px;
padding-bottom: 20px;
color: #000000;

}
.Collapsible__trigger svg {
    position: relative;
    left: 80%;
    /* left: 10px; */
  }
.Collapsible__trigger.is-open svg {
    transform: rotate(180deg);
    position: relative;

  }





.Collapsible__contentOuter {
    color: black;

}

.Collapsible__contentInner {

}
