body {
    background-color: white;
}
.buy {
    width: 150px;
    background-color: white;
    border: 1px solid black;
    border-radius: 10px;
    text-align: center;

}

.connectbutton {
    width: 150px;
    background-color: white;
    border: 1px solid black;
    border-radius: 10px;
    text-align: center;
    height: 30px;
    justify-content: center;
    vertical-align: middle;
    padding-top: 10px;
    cursor: pointer;

}
.connectbutton:hover{
    background-color: rgb(193, 193, 193);
}

.connectbutton span {
}

.walletinfo {
    margin-top: 10px;
}

#AiFillCloseCircle {
    cursor: pointer;
    color: violet;
}

#AiFillCloseCircle:hover {
    cursor: pointer;
    color: yellow;
}