

.account-form-div {
    margin-top: 25px;
    display: flex;
    justify-content: center;
}


.PhoneInputCountryIcon {
display: none;
}


h1 {
    justify-content: center;
    text-align: center;

    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    line-height: 120%;

}


.form-create-account {
    width: 450px;

}

#title {

    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    line-height: 120%;
}
label {
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 20px;
}

input {
    display: flex;
    border: none;
    border-bottom: solid 1px #6c6c6c;
    width: 100%;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    color: #000000;

    padding-top: 15px;

}

button {
    background: linear-gradient(0deg, #3FE3C8, #3FE3C8);
    border: 1px solid #3FE3C8;
    box-sizing: border-box;
    border-radius: 30px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 135%;
    color: #FFFFFF;
    width: 100%;
height: 45px;
}

.login-in-tiny {
    display: flex;
justify-content: center;
}
span {
    font-size: 12px;
}

#checkbox {
    display: inline-block;
width: 20px;
background-color: blue;
}

#green {
    cursor: pointer;
    color: rgba(63, 227, 200, 1);
    font-weight: bold;
}

@media (max-width: 900px) {
    .form-create-account {
        /* display: flex; */
        width: 300px;
    }

    .h1 {
        text-align: center;
    }
}

