.body {
    margin: 0;
    padding: 0;
}


.container {
    /* position: flex; */

    background-color:black;
    height: 100vh;
    justify-content: center;
    position: relative;
}

.float{

    position: fixed;
    bottom:0px;
    left:50%;
    left: 0px;
    z-index: 0;

}


.content-area {
    display: flex;
    position: relative;
    background-color: blue;
    height: 100%;
}