body {
    background-color: black;
}
li {
    list-style: none;
}

.trading-container {
    display: grid;
    grid-template-rows: 200px 200px 200px;
    grid-template-columns: .5fr 1fr .5fr;
    width: 100%;
    grid-gap: 15px;
    background-color: black;


}


.currency-pair {
    background: rgb(64,64,64);
    background: linear-gradient(167deg, rgba(64,64,64,1) 0%, rgba(28,27,27,1) 100%);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.3);;

    grid-row-start: 1;
    grid-row-end: 1;
    grid-column-start: 1;
    grid-column-end: 1;
}
.volume-spread {
    background: rgb(64,64,64);
    background: linear-gradient(167deg, rgba(64,64,64,1) 0%, rgba(28,27,27,1) 100%);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.3);;

    grid-row-start: 1;
    grid-row-end: 1;
    grid-column-start: 2;
    grid-column-end: 3;
}
.buy-sell {
    background: rgb(64,64,64);
    background: linear-gradient(167deg, rgba(64,64,64,1) 0%, rgba(28,27,27,1) 100%);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.3);;


    grid-row-start: 1;
    grid-row-end: 3;
    grid-column-start: 3;
    grid-column-end: 4;
}

.chart {
background-color: black;    
grid-row-start: 2;
    grid-row-end: 2;
    grid-column-start: 1;
    grid-column-end: 3;

}

.order-book {
    background: rgb(64,64,64);
    background: linear-gradient(167deg, rgba(64,64,64,1) 0%, rgba(28,27,27,1) 100%);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.3);;

    grid-row-start: 3;
    grid-row-end: 3;
    grid-column-start: 1;
    grid-column-end: 4;    
    background-color: darkgreen;
}


/* OPENBUYSELLJS */

.test-container-open{
    display: flex;
}

.Open {
    padding-left: 20px
}
.Open h4{
    margin: 0;
    padding: 0;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 125%;
    /* identical to box height, or 17px */
    text-transform: capitalize;
    color: #FFFFFF;
    opacity: 0.54;
    padding-top: 10px;
    
}

.Open ul {
    margin: 0;
    padding: 0;
    padding-top: 5px;
}
.Open li {
    margin: 0;
    padding: 0;
    list-style: none;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 125%;
    /* identical to box height, or 17px */

    display: flex;
    align-items: center;
    text-transform: capitalize;

    color: #FFFFFF;

}

.Open li span {
    padding-left: 10px;
    font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 12px;
line-height: 125%;
/* identical to box height, or 17px */

display: flex;
align-items: center;
text-transform: capitalize;

color: rgba(255, 255, 255, 0.54);
}

/* EXCHANGE */

.buy-sell-buttons {
    display: inline-block;
    width: 100%;
}
.buy-sell-buttons button{
    display: inline-block;
    width: 120px;
    justify-content: center;
}

.text-input-component h4 {

}
.text-input-component ul, ul li {
    display: inline-block;
    list-style: none;

}
.text-input-component ul li {
    padding-left: 10px;

}