.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
}

.footer p {
    font-family: Poppins;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 20px;
/* identical to box height, or 143% */

text-transform: capitalize;

/* Space Black */

color: #000000;

opacity: 0.8;
}