


@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&family=Roboto:wght@500&display=swap');

.main {
    position: fixed;
    height: 100vh;
    width: 100%;

}



.heading {
    display: flex;
    padding-top: 200px;
    z-index: 11;
    /* align-items: center; */


}

.heading-center {
    position: relative;
    width: 100%;
    max-width: 500px;
    /* align-items: center; */
    text-align: center;
    margin: 0 auto;
    z-index: 11;




}

.btn-join {
    padding-top: 30px;
    

}

.world {
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;

}
.world img {

    position: absolute;
    width: 100%;
    max-width: 1200px;
    justify-content: center;
    z-index: 0;
    bottom: 0;
    padding-bottom: 50px;

}
.main h1 {

    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 60px;
    line-height: 100%;
    /* identical to box height, or 60px */
    list-style-type: none;

    text-transform: uppercase;
    color: white;
    background-color: blue;
    width: 10%;

}

.social-components {
    /* background-color: violet; */
    height: 100%;
    position: fixed;
    /* align-items: center; */
    vertical-align: middle;
    top: 30%;
    right: 0;
    padding-right: 30px;
    list-style-type: none;

}


.social-components ul li {
    opacity: 0.5;
    cursor: pointer;
    list-style-type: none;
}
.social-components ul li:hover {
    opacity: 1.0
;}
.btn-join-now {
    background-color: rgba(255, 99, 71, 0);
    max-width: 440px;
    width: 100%;
    border-radius: 25px;
    height: 40px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    color: #3FE3C8;
    border: 1px solid #3FE3C8;
    box-sizing: border-box;
}
.btn-join-now:hover {
    background-color: #3FE3C8;
    color: white;
}


@media (max-width: 900px) {
    .social-components {
display: none;
    }

    .world {
        /* padding-right: 100px; */
        min-width: 800px;

    }
    .world img {
        position: absolute;
        min-width: 800px;
        /* margin-right: 200px; */
        padding-bottom: 50px;

    }

}
@media (max-width: 500px) {
    .heading {
        padding-top: 40%;
        padding-left: 10%;
        padding-right: 10%;

    }
}