@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');


.navigation {
    display: flex;
    flex-wrap: wrap;
    background-color: #ffffff;
    height: 70px;
    color: white;
    font-family: Poppins;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;

}
.logo-kass {
    flex: 20%;
    display: inline-block;
    text-align: center;
    padding-top: 10px;
}

.nav-left {
    flex: 50%;

    margin:0;
    padding:0;
    padding-top: 22px;
    background-color: rgb(255, 255, 255);

}

#logo-li {
    padding-right: 20px;
    color: white;
    
}


.nav-pages {
    margin:0;
    padding:0;
    text-align: left;

}


.nav-pages li {
    color: black;
    vertical-align: middle;
    display: inline-block;
    list-style-type:none;
    margin:0;
    padding:0;
    padding-right: 25px;
    cursor: pointer;
}
.nav-pages li:hover {
    color: rgb(63, 227, 200);
}

.nav-right {
    flex: 25%;
    background-color:rgb(255, 255, 255);
    margin:0;
    padding:0;
    /* vertical-align: middle; */

    padding-top: 22px;
    list-style-type:none;

}

.nav-account {
    margin:0;
    padding:0;
    height: 100%;
    vertical-align: middle;
    text-align: left;



}
.nav-account li {
    display: inline-block;
    align-items: center;
    vertical-align: middle;
    margin:0;
    padding:0;
    padding-right: 25px;
    cursor: pointer;
    color: black;
}
.nav-account li:hover {

color: rgb(63, 227, 200);
}

#nav-li a:hover {
    color: rgb(63, 227, 200);

}

.hamburger-btn {
    display: none;
    padding-top: 20px;
    margin-right: 20px;
}

.menu-hamburger, .menu-close {
    cursor: pointer;
    color: rgb(63, 227, 200);
    font-size: 26px;
}
.menu-hamburger:hover, .menu-close:hover  {
    cursor: pointer;
    color: rgb(255, 255, 255);
}
.sidenav {
    position: absolute;
    right: 0px;
    background-color:black;
    height: 100%;
    width: 260px;
    text-align: right;
    box-shadow: 0px 4px 10px 7px #3FE3C8;
    z-index: 1111;

}


.nav-pages-sidebar {
    text-align: left;
    list-style: none


}
.nav-account-sidebar {
    padding-top: 25px;
    text-align: left;
    list-style: none


}
.social-components-sidebar {
    text-align: left;
}
.social-components-sidebar li {
    display: inline-block;

}

@media (max-width: 900px) {

    .nav-left, .nav-right {
display: none;    
}
 
.hamburger-btn {
    display: block;
}

.logo-kass {
    text-align: left;
    padding-left: 25px;
}
    /* #nav-li {
        display: none;
    }
    .nav-account {
        display: none;
    } */

  }