.sidenav {
    position: fixed;
    right: 0px;
    background-color:black;
    height: 100%;
    width: 220px;
    text-align: right;
    box-shadow: 0px 4px 10px 7px #3FE3C8;
    z-index: 1111;
    padding: 15px;
    font-size: 14px;
    

}

.menu-close {
    padding-top: 10px;
    margin-top: 10px;
}

.nav-pages-sidebar {
    text-align: left;
    list-style: none;
    padding-top: 70px;
    cursor: pointer;

}

.nav-pages-sidebar li {
    padding-top: 20px;
    cursor: pointer;
}

.nav-pages-sidebar li:hover {
    color: #3FE3C8;
}   

.nav-account-sidebar {
    padding-top: 50px;
    text-align: left;
    list-style: none;
}

.nav-account-sidebar li {
    padding-top: 20px;
    cursor: pointer;
}

.nav-account-sidebar li:hover {
    color:#3FE3C8;
}
.sidebar-bottom {
/* background-color: violet; */
height: 100%;

}

.social-components-sidebar {
    /* height: 100%; */
    text-align: left;
    /* padding-top: 20px; */
    position: absolute;
    bottom: 0;
    padding-bottom: 20%;
    font-size: 16px;
}
.social-components-sidebar li {
/* width: 50px; */
padding-right: 25px;
font-size: 22px;
cursor: pointer;
/* font-size: large; */
}
.social-components-sidebar li:hover {
    color: #3FE3C8;
}

/* .social-components-sidebar li {
    display: inline-block;

} */