.flip-card {
    background-color: transparent;
    width: 100%;
    height: 100%;
    perspective: 1000px; /* Remove this if you don't want the 3D effect */
  }
  
  .flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
  }
  
  .flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
  }
  
  .flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden; /* Safari */
    backface-visibility: hidden;
  }
  
  .flip-card-front {
    border: 1px solid rgba(45, 45, 45, 0.5);
    box-sizing: border-box;
    border-radius: 5px;
    background: rgb(24,24,24);
    background: linear-gradient(149deg, rgba(24,24,24,1) 0%, rgba(64,64,64,1) 60%, rgba(71,71,71,1) 100%);
  }
  
  .flip-card-front h1 {
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    align-items: center;
    text-align: center;
    padding-top: 55px;
    letter-spacing: 0.01em;
    color: #FFFFFF;
  }

  .flip-card-back {
    border: 1px solid rgba(237, 237, 237, 0.3);
    box-sizing: border-box;
    border-radius: 5px;
    background: black;
    color: white;
    transform: rotateY(180deg);
    padding-top: 10px;
  }
  .flip-card-back p {
      
    box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.03);
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    color: #FFFFFF;
    padding: 0;
    margin: 0;
    padding-left: 30px;
    padding-top: 4px;
    text-align: left;
    cursor: pointer;
  }

  .flip-card-back p:hover {
      color: #3FE3C8;
  }