body {
    margin: 0;
    padding: 0;
}
.dashboard-container {
    background-color: rgb(22, 22, 22);
    width: 100%;
    height: 100vh;
    align-items: center;
    text-align: center;
    justify-content: center;
    margin: 0;
    padding: 0;
    
    padding-left: 130px;
}

.dashboard-container h1{
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    letter-spacing: 0.01em;
    text-transform: capitalize;
    text-align: left;
    margin: 0;
    padding: 0;
    padding-top: 40px;
    color: #FFFFFF;
}
.dashboard-grid {
    max-width: 1000px;
    position: relative;
    display: grid inline-block;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    background-color: rgb(22, 22, 22);
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 26px;
    align-items: center;
    text-align: center;
    letter-spacing: 0.01em;
    color: #FFFFFF;
    text-shadow: 0px 3px 8px rgba(0, 0, 0, 0.25);
    /* margin: 10px; */

}

  

.dash-row-1 {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 1;
    display: flex;
    
}

.dash-box {
    grid-column-start: 1;
    grid-column-end: 1;
    width: 100%;
    cursor: pointer;
    margin: 10px;
    height: 150px;

    
}

    .dash-account {
        grid-column-start: 1;
        grid-column-end: 1;
        width: 100%;
        cursor: pointer;
        margin: 10px;
        height: 150px;

        
    }

   
    .dash-platform {
        grid-column-start: 2;
        grid-column-end: 2;
        width: 100%;
        cursor: pointer;
        margin: 10px;

    }
    .dash-performance {
        grid-column-start: 3;
        grid-column-end: 3;
        width: 100%;
        margin: 10px;


    }


.dash-row-2 {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 2;
    display: flex;

}

        .dash-security {
            background-color: rgb(0, 138, 5, 0.55);
            width: 100%;
        }
        .dash-accomplishments {
            background-color: rgba(52, 182, 56, 0.55);
            width: 100%;

        }
        .dash-favorites {
            background-color: rgba(77, 164, 80, 0.55);
            width: 100%;

        }

.dash-row-3 {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 3;
    display: flex;
}

.dash-portfolio {
    width: 100%;
}

.dash-pincome {
    width: 100%;
}

.dash-orders{
    width: 100%;
}