.scheduler {
    width: 700px;
}

.scheduler h3 {
    font-size: 12px;
}

.scheduler button svg {
    color: black;
}

.scheduler button  {
    font-size: 12px;
}

.react-calendar__tile  {
    font-size: 10px;
}